<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>SmartMe Example</title>
  <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon" />
  <link href="public/assets/application.min.css" media="all" rel="stylesheet" type="text/css" />
  <script src="public/assets/application.min.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="public/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
  <header id="header" class="row">
    <div class="eight columns">
      <h1><a href="/">My Playlists</a></h1>
      <h4 class="subheader">I like music.</h4>
    </div>
  </header>

  <div class="row">
    <div id="playListBox" class="four columns">
      Loading...
    </div>
    <div id="selectedPlayList" class="eight columns">
      <h3>Please, select playlist :)</h3>
    </div>
  </div>
</body>
</html>
